############################
# Build results
############################
bin/
obj/
Debug/
Release/
x64/
x86/
artifacts/

############################
# .NET
############################
*.runtimeconfig.json
*.deps.json
project.lock.json
project.fragment.lock.json

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider / JetBrains
############################
.idea/
*.sln.iml

############################
# VS Code
############################
.vscode/

############################
# Avalonia previewer
############################
*.avl

############################
# Publish
############################
publish/
*.publishsettings

############################
# Test results
############################
TestResults/
*.trx

############################
# Logs
############################
*.log

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# NuGet
############################
*.nupkg
packages/
!packages/build/

############################
# Database / local data
############################
*.db
*.sqlite